<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::myHead('상세페이지')}"></head>
<body>
<header th:replace="~{fragments/header::siteHeader('board')}"></header>
    <table>
        <tr>
            <th>제목</th>
            <td th:text="${simpleDto.title}"></td>
        </tr>
        <tr>
            <th>글쓴이</th>
            <td th:text="${simpleDto.writer}"></td>
        </tr>
        <tr>
            <th>날짜</th>
            <td th:text="${simpleDto.regdate}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${simpleDto.content}"></td>
        </tr>
    </table>
</body>
</html>