<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::myHead('리스트')}"></head>
<body>
<header th:replace="~{fragments/header::siteHeader('board')}"></header>
    <ul>
        <li th:each="item:${list}">
            <span th:text="${item.id}"></span>
            <a href="" th:href="@{/mybatis/{id}/detail(id=${item.id})}"><span th:text="${item.title}"></span></a>
            <span th:text="${item.writer}"></span>
            <span th:text="${item.regdate}"></span>
            <span th:text="${item.hit}"></span>
        </li>
    </ul>
</body>
</html>