<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error {
            color:#f00;
            font-size: 12px;
        }
    </style>
</head>
<body>
<h1>add</h1>

<form action="../member/login" method="post" th:object="${loginDto}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="error:${#fields.globalErrors()}" th:text="${error}" class="error">

        </p>
    </div>
    <div><input type="text" th:field="*{userID}"></div>
    <div th:if="${#fields.hasErrors('userID')}" class="error" th:errors="*{userID}">에러메세지를 직접 입력합니다.</div>
    <div><input type="password" th:field="*{userPW}"></div>
    <div th:if="${#fields.hasErrors('userPW')}" th:errors="*{userPW}"  class="error"></div>
    <div>
        <button>확인</button>
    </div>
</form>
</body>
</html>