<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head('회원정보')}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<!-- 제목 -->
<div class="max-w-2xl mx-auto space-y-4">
    <h1 class="text-3xl my-10">회원정보</h1>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table">

            <tbody>
            <!-- row 1 -->
            <tr>
                <th>NAME</th>
                <td th:text="${loggedMember.userName}"></td>
            </tr>
            <tr>
                <th>EMAIL</th>
                <td th:text="${loggedMember.userEmail}"></td>
            </tr>
            <tr>
                <th>PHONE</th>
                <td th:text="${loggedMember.userPhone}"></td>
            </tr>
            <tr>
                <th>ZIPCODE</th>
                <td th:text="${loggedMember.zipcode}"></td>
            </tr>
            <tr>
                <th>ADDRESS</th>
                <td th:text="${loggedMember.getUserAddress()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--    <div th:text="${loggedMember.userPW}">장성호</div>-->
    <div>
        <a th:href="@{../member/delete}" href="" class="btn btn-primary">회원탈퇴</a>
        <a href="" class="btn btn-primary">정보수정</a>
        <a href="" class="btn btn-primary" th:href="@{../member/change-password}">비밀번호수정</a>
    </div>
</div>
</body>
</html>