<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head('회원가입')}"></head>
<body>
<header th:replace="~{fragments/header}"></header>

<form action="../member/signup" method="post" th:object="${signupDto}" class="max-w-2xl mx-auto space-y-4"
      enctype="multipart/form-data">
    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->

    <!-- 제목 -->
    <h1 class="text-3xl my-10 font-bold">회원가입</h1>
    <!--    <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-error shadow mb-4">-->
    <!--        <span>-->
    <!--            <ul class="list-disc pl-5">-->
    <!--                <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>-->
    <!--            </ul>-->
    <!--        </span>-->
    <!--    </div>-->
    <div class="form-control">
        <label class="label">
            <span class="label-text font-bold  mb-2">USER ID</span>
        </label>
        <div class="flex items-center gap-2">
            <input type="text" th:field="*{userID}" placeholder="아이디를 입력하세요."
                   class="input input-bordered flex-1 "/>
            <button type="button" class="btn btn-primary" id="btn-id-check">아이디 중복 확인</button>
        </div>
        <div th:if="${#fields.hasErrors('userID')}"
             th:errors="*{userID}"
             class="text-error text-sm mt-1"></div>
        <div class="text-error text-sm mt-1" id="errorUserID" style="display: none"></div>
    </div>
    <div class="form-control">
        <label class="label mb-2">
            <span class="label-text font-bold">PASSWORD</span>
        </label>
        <input type="password" th:field="*{userPW}" placeholder="비밀번호 입력"
               class="input input-bordered w-full"/>
        <div th:if="${#fields.hasErrors('userPW')}"
             th:errors="*{userPW}"
             class="text-error text-sm mt-1"></div>
    </div>
    <div class="form-control">
        <label class="label mb-2">
            <span class="label-text font-bold">PASSWORD CONFIRM</span>
        </label>
        <input type="password" th:field="*{userPWConfirm}" placeholder="비밀번호 입력"
               class="input input-bordered w-full"/>
        <div th:if="${#fields.hasErrors('userPWConfirm')}"
             th:errors="*{userPWConfirm}"
             class="text-error text-sm mt-1"></div>
    </div>

    <!-- 글쓴이 -->
    <div class="form-control">
        <label class="label mb-2">
            <span class="label-text font-bold">USER NAME</span>
        </label>
        <input type="text" th:field="*{userName}" placeholder="이름"
               class="input input-bordered w-full"/>
        <div th:if="${#fields.hasErrors('userName')}"
             th:errors="*{userName}"
             class="text-error text-sm mt-1"></div>
    </div>

    <div class="form-control">
        <label class="label mb-2">
            <span class="label-text font-bold">EMAIL</span>
        </label>
        <input type="text" th:field="*{userEmail}" placeholder="이메일"
               class="input input-bordered w-full"/>
        <div th:if="${#fields.hasErrors('userEmail')}"
             th:errors="*{userEmail}"
             class="text-error text-sm mt-1"></div>
    </div>
    <div class="form-control">
        <label class="label mb-2">
            <span class="label-text font-bold">PHONE</span>
        </label>
        <input type="text" th:field="*{userPhone}" placeholder="핸드폰"
               class="input input-bordered w-full"/>
        <div th:if="${#fields.hasErrors('userPhone')}"
             th:errors="*{userPhone}"
             class="text-error text-sm mt-1"></div>
    </div>
    <div class="form-control">
        <label class="label">
            <span class="label-text font-bold  mb-2">ADDRESS</span>
        </label>
        <div class="flex items-center gap-2">
            <input type="text" th:field="*{zipcode}" placeholder="우편번호"
                   class="input input-bordered"/>
            <button type="button" class="btn btn-primary" id="btn-zipcode">우편번호</button>
        </div>
        <div class="flex items-center gap-2 mt-2">
            <input type="text" th:field="*{address01}" placeholder="주소"
                   class="input input-bordered w-full"/>
        </div>
        <div class="flex items-center gap-2 mt-2">
            <input type="text" th:field="*{address02}" placeholder="상세주소"
                   class="input input-bordered w-1/2"/>
            <input type="text" th:field="*{address03}" placeholder="참고항목"
                   class="input input-bordered  w-1/2"/>
        </div>
        <div class="form-control mt-4">
            <label class="label mb-2">
                <span class="label-text font-bold">PROFILE</span>
            </label>
            <input type="file" class="file-input file-input-neutral w-full" name="profile" th:field="*{profile}"/>
        </div>
    </div>

    <!-- 내용 -->


    <!-- 비밀번호 -->


    <!-- 버튼 -->
    <div class="form-control mt-6">
        <button class="btn btn-primary w-full">회원가입</button>
    </div>

</form>

<div th:replace="~{fragments/footer::footer-sns}"></div>
<script>

    const btnIdCheck = document.querySelector("#btn-id-check");
    const userID = document.querySelector("#userID");
    const errorUserID = document.querySelector("#errorUserID");
    console.log(errorUserID);
    btnIdCheck.addEventListener("click",async ()=>{
        //console.log("클릭");
        if(userID.value.trim()=="") {
            //alert("아이디가 비어 있습니다.");
            errorUserID.textContent="아이디가 비어 있습니다.";
            errorUserID.style.display="block";
            return false;

        }
        const res = await fetch("/member/idCheck",{
            method:"post",
            headers: {
                "Content-Type":"application/json"
            },
            //js---> java로 데이터 보낼때 {키 : 값} 형태의 js 오브젝트로 넘겨준다. 이때 반드시 문자로 변경
            // 해서 넘겨주면  spring에서는 converter가 발동해서 자바 객체로 바꿔준다.
            body: JSON.stringify({userID:userID.value})
        })
        const data = await res.json();
        console.log(data);
        if(data.isExistMember) {
            //alert("쓸 수 없는 아이디입니다.");
            errorUserID.textContent="쓸 수 없는 아이디입니다.";
            errorUserID.style.display="block";

        } else {
            errorUserID.textContent="쓸 수 있는 아이디입니다.";
            errorUserID.style.display="block";
        }
    })
</script>
</body>
</html>