<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>리스트</h1>
    <ul>
        <li th:each="item : ${boardDtoList}">
            <span th:text="${item.idx}">1</span>
            <a href="detail/1" th:href="@{/board/detail/{idx}(idx=${item.idx})}">
                <span th:text="${item.title}">여기까지만 할 예정입니다.</span>
            </a>
            <!-- detail 만들어서 해당하는 idx에 글쓴이,제목,content까지 출력하기 -->
            <span th:text="${item.writer}">장성호</span>
            <span th:text="${item.regdate}">2025-10-13 15:08:07</span>
            <span th:text="${item.hit}">10</span>
        </li>
    </ul>
    <a href="../board/write">글쓰기</a>
</body>
</html>