<!DOCTYPE html>
<html lang="ko" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="hero min-h-screen bg-base-200">
    <div class="hero-content">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title justify-center">회원가입</h2>

                <form action="../member/add" method="post" class="form-control gap-4">

                    <!-- 아이디 -->
                    <label class="form-control relative w-full">
                        <input type="text" name="userID" placeholder=" " class="input input-bordered w-full peer"/>
                        <span class="absolute left-3 top-2 text-gray-400 transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-focus:top-[-0.6rem] peer-focus:text-xs peer-focus:text-primary bg-base-100 px-1">
              아이디
            </span>
                    </label>

                    <!-- 이름 -->
                    <label class="form-control relative w-full">
                        <input type="text" name="userName" placeholder=" " class="input input-bordered w-full peer"/>
                        <span class="absolute left-3 top-2 text-gray-400 transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-focus:top-[-0.6rem] peer-focus:text-xs peer-focus:text-primary bg-base-100 px-1">
              이름
            </span>
                    </label>

                    <!-- 이메일 -->
                    <label class="form-control relative w-full">
                        <input type="email" name="userEmail" placeholder=" " class="input input-bordered w-full peer"/>
                        <span class="absolute left-3 top-2 text-gray-400 transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-focus:top-[-0.6rem] peer-focus:text-xs peer-focus:text-primary bg-base-100 px-1">
              이메일
            </span>
                    </label>

                    <!-- 버튼 -->
                    <button class="btn btn-primary">회원가입</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
