<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="form-result" method="get">
    <div><input type="text" name="userID"></div>
    <div><input type="password" name="userPW"></div>
    <div><input type="checkbox" name="favorite" value="fishing"><span>낚시</span></div>
    <div><input type="checkbox" name="favorite" value="movie"><span>영화</span></div>
    <div><input type="checkbox" name="favorite" value="go"><span>바둑</span></div>
    <div><input type="checkbox" name="favorite" value="tennis"><span>테니스</span></div>
    <div><input type="radio" name="gender" value="male"><span>남자</span></div>
    <div><input type="radio" name="gender" value="female"><span>여자</span></div>
    <div>
        <select name="country">
            <option value="korea">한국</option>
            <option value="usa">미국</option>
            <option value="japan">일본</option>
            <option value="china">중국</option>
        </select>
    </div>
    <div><button>보내기</button></div>
</form>
</body>
</html>